.home {
  color: gray;
}

.rawxo {
  margin: 48px 0;
  margin-left: -50px;
  max-width: 312px;
  width: 90%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  row-gap: 10px;
  margin-bottom: 10px;
}
