* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  background-color: #212121;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  padding: 28px 0;
  min-height: 100vh;
}

main {
  align-items: center;
  background-color: #313131;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 880px;
  padding: 18px 0;
  max-width: 500px;
  width: 100vw;
}

.logo {
  width: 120px;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 880px) {
  .logo {
    width: 108px;
  }

  main {
    max-width: 460px;
  }
}

@media only screen and (max-width: 680px) {
  .logo {
    width: 98px;
  }

  main {
    max-width: 420px;
    padding: 28px 18px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 108px;
  }

  body {
    background-color: #313131;
    padding: 0;
  }

  main {
    border-radius: 0;
    padding: 28px 18px 18px;
    width: 96vw;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    width: 100px;
  }
}
