.option {
  align-items: center;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.06);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 160px;
  letter-spacing: 0.5px;
  padding: 8px 22px 8px 28px;
  width: 420px;
  user-select: none;
  transition: all 0.15s ease-in;
}

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 4;
  width: 100%;
}

.main img {
  height: 100%;
  max-height: 144px;
}

.main p {
  color: #b2d0e1;
  font-size: 14px;
  font-weight: 600;
}

.main h1 {
  color: #8fd6ff;
  font-size: 28px;
  font-weight: 600;
}

.option:hover {
  box-shadow: 0 1px 10px rgba(143, 214, 255, 0.4);
}

.option:active {
  box-shadow: 0 1px 10px rgba(143, 214, 255, 0.5);
}

.child {
  display: none;
}

@media only screen and (max-width: 880px) {
  .option {
    height: 148px;
    width: 380px;
  }

  .main h1 {
    font-size: 24px;
  }

  .main p {
    font-size: 13px;
  }

  .main img {
    max-height: 128px;
  }
}

@media only screen and (max-width: 680px) {
  .option {
    height: 144px;
    width: 358px;
  }

  .main h1 {
    font-size: 23px;
  }

  .main img {
    max-height: 120px;
  }
}

@media only screen and (max-width: 480px) {
  .option {
    height: 160px;
    width: 88vw;
    max-width: 400px;
  }

  .main h1 {
    font-size: 24px;
  }

  .main img {
    max-height: 128px;
  }
}

@media only screen and (max-width: 400px) {
  .option {
    width: 88vw;
    padding: 8px 20px 8px 25px;
  }

  .main p {
    font-size: 12px;
  }

  .main h1 {
    font-size: 22px;
    width: 100px;
  }

  .main img {
    max-height: 124px;
  }
}

@media screen and (max-height: 800px) {
  .option {
    margin-bottom: 28px;
  }
}
