.winner {
  align-items: center;
  backdrop-filter: blur(3px);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  padding-bottom: 20px;
  z-index: 10;
}

.pop {
  align-items: center;
  background-color: rgb(58, 58, 58);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  width: 280px;
  padding: 28px 0;
}

.pop h2 {
  font-size: 58px;
  font-weight: 600;
  margin-bottom: -38px;
}

.pop p {
  letter-spacing: 0.5px;
}

.pop div {
  align-items: flex-end;
  display: flex;
  column-gap: 14px;
}

.pop button {
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  padding: 8px 0;
  width: 88px;
  outline: none;
}

.pop button:hover {
  opacity: 0.9;
}

.pop button:active {
  opacity: 0.8;
}
